__pycache__/
package/
*.zip
.env

#rfidElement
REE/IoT-Devices/rfidElement/lib/wifi/wifiLogin.h
REE/IoT-Devices/rfidElement/lib/mqtt/mqttLogin.h

#vehicle
REE/IoT-Devices/vehicle/lib/wifi/wifiLogin.h
REE/IoT-Devices/vehicle/lib/mqtt/mqttLogin.h

#CL-EA-MQTT-CLIENT
CL-EA-MQTT-CLIENT/.env
CL-EA-MQTT-CLIENT/package/