__pycache__/
package/
*.zip
.env

#rfidElement
IoT-Devices/rfidElement/lib/wifi/wifiLogin.h
IoT-Devices/rfidElement/lib/mqtt/mqttLogin.h

#vehicle
IoT-Devices/vehicle/lib/wifi/wifiLogin.h
IoT-Devices/vehicle/lib/mqtt/mqttLogin.h

#CL-EA-MQTT-CLIENT
CL-EA-MQTT-CLIENT/.env
CL-EA-MQTT-CLIENT/package/